nav.navbar
  .navbarLogo
    div
      img(src="/goldenShoe.png" alt="goldenShoe logo")
  a.nav__el.nav__el--cta(href="https://documenter.getpostman.com/view/19528437/UzQvrPmB" target="_blank") API Docs
    