extends base

block content 
    section.app-wrapper.section-padding.header
      .app-wrapper_info
        h3 Golden Shoe API
        p.p-opensans This API was designed for a mock e-commerce website. Stripe and stock management enabled. 
        a.custom-button(href="https://bruneljohnson.github.io/goldenshoe/") Try Out Our App!
      figure.app-wrapper_img
        img(src="/goldenShoe.png" alt="Golden Shoe Logo")